footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--theme-color);
  color: white;
  margin-top: 5em;
  padding: 3em;
}
footer p {
  margin: 0;
  padding: 0;
}
footer a:hover {
  display: inline-block;
  color: inherit;
    text-shadow: 0 0 0 currentColor;
}
