.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
  width: 100%;
  margin: auto;
  padding: 0;
  max-width: 100%;
  list-style: none;
}

.product-list > li {
  display: flex;
  flex: 1 1 20em;
  min-width: 0;
}
