.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    align-items: stretch; /* makes items in each row equal height */

  gap: 3rem;

  width: 100%;
  margin: auto;
  padding: 0;
max-width: 1500px;
  list-style: none;
}

.product-list > li {
  display: flex;
  flex: 1 0 20em;
  min-width: 0;
}
